black==22.1.0
cfgv==3.3.1
click==8.0.3
colorama==0.4.4
commonmark==0.9.1
distlib==0.3.4
filelock==3.4.2
identify==2.4.6
mypy-extensions==0.4.3
nodeenv==1.6.0
pathspec==0.9.0
platformdirs==2.4.1
pre-commit==2.17.0
pygame==2.1.2
Pygments==2.11.2
PyYAML==6.0
rich==11.1.0
six==1.16.0
toml==0.10.2
tomli==2.0.0
virtualenv==20.13.0
